.aside_container {
    > div {
        @include Flex;
        height: 100%;
    @media screen and (min-width: 767px) {
        text-align: start;
    }
        div {
            display: flex;
            p {
                margin: 0;
                margin-right: 10px;
            } 
        }
        i {
            font-size: 1.3em;
            margin-right: 5px;
        }
    }
}
.aside_icon {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    @media screen and (min-width: 767px) {
        @include Flex
    }
}